flask
flask-cors
pandas
numpy
scikit-learn
statsmodels
keras
tensorflow
torch
plotly
yfinance
TA-Lib
streamlit
feedparser
beautifulsoup4
requests
pymongo
sqlalchemy
pytest
APScheduler
pmdarima
prophet
joblib
shap
Flask-Limiter
marshmallow
celery
flask-socketio
eventlet
huggingface-hub>=0.22.0


